{{#each user}}
<div data-sticky-container>
    <div data-sticky data-options="marginTop:0;">
        <div class="top-bar" id="example-menu">
            <ul class="vertical medium-horizontal dropdown menu" data-responsive-menu="accordion medium-dropdown">
                <li class="menu-text">My Portfolio</li>
                <li>
                    <a class="navBtns" class="navBtns" href="../market">Marketplace</a>
                </li>
                <li> <a class="navBtns" href="../transaction">Transactions</a></li>
                <li><a class="navBtns" href="/">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
       <div class="cell large-12 small-12 my-card profile-card">
           <h1>Welcome, {{userName}}!</h1>
           <div class="grid-x">
            <div class="cell medium-4 small-12"><h3 id="summary">$2,000{{totalNet}}</h1><h6>Total Net Worth</h6></div>
            <div class="cell medium-4 small-6"><h3 id="summary">{{currentBalance}}</h3><h6>Total Cash</h6></div>
            <div class="cell medium-4 small-6"><h3 id="summary">{{totalHoldings}}</h3><h6>Total Stocks</h6></div>
           </div>
       </div>
    </div>
  {{!-- <h4>Investments</h4> --}}
    <div class="grid-x opacity-card">
    </div>
     <div class="grid-x opacity-card">
       <div class="cell small-8 large-offset-2 my-card my-stock">
        <div class="grid-x stockBlock">
            <div class="cell large-2 small-2">Amazon</div>
            <div class="cell large-2 small-2"></div>
            <div class="cell large-2 small-2">$40</div>
            <div class="cell large-2 small-2">AMZN</div>
        </div>
        	<input type="text" id="sellqty" name="sellqty">
		<a class="button sell" id="{{this.id}}"href="#">Sell</a></td>
                                        {{/each}}
       </div>
                        {{#each transactions}}
                        {{> stocks/transaction-block}}
                        {{/each}}
                    {{> stocks/sellmodal}}
                </div>

    </div>
</div>

