<div data-sticky-container>
    <div data-sticky data-options="marginTop:0;">
  
      <div class="top-bar" id="example-menu">
        <ul class="vertical medium-horizontal dropdown menu" data-responsive-menu="accordion medium-dropdown">
          <li class="menu-text">Transactions</li>
          <li>
            <a href="#">My Dashboard</a>
          </li>
          <li><a href="#">Marketplace</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
  </div>
</div>
  <br>
   <div class="holy-grail-middle">
            <div class="holy-grail-middle">
               <table class="pricing-table hover">
        <thead>
            <h3> My Transactions</h3>
          <tr>
            <th class="name" width="100">Name</th>
            <th class="symbol" width="75">Ticker</th>
            <th class="price" width="75">Purchase Price</th>
            <th class="shares" width="100">Number Of Shares For Purchase</th>
            <th class="shares" width="75">Value</th>
            <th class="shares" width="75">Current Price</th>
            <th class="shares" width="75">Buy</th>
            <th class="shares" width="75">Sell</th>

          </tr>
        </thead>
        <tbody>

        {{#each stocks}}
         <tr>
	<td>{{stockName}}</td>
	<td>{{ticker}}</td>
	<td>{{purchasePrice}}</td>
    <td>{{shares}}</td>
	<td>{{stockValue}}</td>
	<td>{{price}}</td>
	<td><a href="#" class="button postfix">Buy Now</a>
        </div></td>
</tr>
        {{/each}}

        </tbody>
      </table>
            </div>
        </div>
  
</div>
