{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
</li> --}}

<tr>
	<td>{{stockName}}</td>
	<td>{{price}}</td>
	<td>{{symbol}}</td>
	<td><a class="button" href="#">Buy Now</a></td>
</tr>
