<tr>
	<td>{{this.name}}</td>
	<td class="currentPrice" id={{this.id}}> {{this.price}}</td>
	<td>{{this.symbol}}</td>
	<td><input class="qtyOwned" id={{this.id}} type="text" placeholder="Value"><a class="button buyBtn" id={{this.id}} href="#">Buy Now</a></td>
</tr>

{{!-- <tr>
	<td>Apple</td>
	<td>$277.83</td>
	<td>AAP</td>
	<td><a class="button very-special" id="{{this.id}}"href="#">Buy Now</a></td>
</tr> --}}