<tr>
	<td>{{this.name}}</td>
	<td>{{this.symbol}}</td>
	<td>{{this.qty}}</td>
	<td>{{this.price}}</td>
	<td>{{this.totalVal}}</td>
	<td><input id="buy" type="text" placeholder="Value"><button class="button very-special" id="{{this.id}}" data-open="sellModal" href="#" class="button postfix buyBtn">Sell Now</button></td>
	{{!-- <td><a class="button very-special" id="{{this.id}}"href="#">Buy Now</a></td> --}}
</tr>

{{!-- <tr>
	<td>Apple</td>
	<td>$277.83</td>
	<td>AAP</td>
	<td><a class="button very-special" id="{{this.id}}"href="#">Buy Now</a></td>
</tr> --}}