       <div class="cell small-11 large-8 my-card my-stock">
        <div class="grid-x stockblock2">
            <div class="cell large-4 small-4">{{this.name}}</div>
            <div class="cell large-4 small-4"><span id="qty{{this.id}}">{{this.qty}}</span><br><br>Total Value:<br>${{this.price}}</div>
            <div class="cell large-4 small-2"><input id="sellqty{{this.id}}" class="cell large-2 small-2"type="text" placeholder="Value">
			<button id="{{this.id}}" class="button postfix sell">Sell</button></div>
			</div>        
			</div>
       


