<tr>
	<td>{{this.name}}</td>
	<td>{{this.symbol}}</td>
	<td id="qty{{this.id}}">{{this.qty}}</td>
	<td>{{this.price}}</td>
	<td>{{this.totalVal}}</td>
	<td>
	<input type="text" id="sellqty" name="sellqty">
		<a class="button sell" id="{{this.id}}"href="#">Sell</a></td>
</tr>

{{!-- <tr>
	<td>Apple</td>
	<td>$277.83</td>
	<td>AAP</td>
	<td><a class="button very-special" id="{{this.id}}"href="#">Buy Now</a></td>
</tr> --}}